%hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: none;
}
%unhidden{
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    display: inherit;
}

.scope{
    &.tabs{
        .controls{
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block;
            position: relative;
            z-index: 1;
            width: 100%;
            float: left;
            margin-bottom: -1px;
            li{
                min-height: 50px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                float: left;
                background-color: #f2f2f2;
                color: #555;
                cursor: pointer;
                box-sizing: border-box;
                border: 1px solid transparent;
                &:hover:not(.active){
                    background-color: #f7f7f7;
                }
                &.active{
                    border: 1px solid #ccc;
                    border-bottom: 1px solid white;
                    background-color: white;
                    color: #333;
                }
            }
        }
        .content{
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block;
            width: 100%;
            float: left;
            li{
                border: 1px solid #ccc;
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                @extend %hidden;
                &.active{
                    display: inline-block;
                    @extend %unhidden;
                }
            }
        }
    }
}
