RewriteEngine on
RewriteBase /
Options +Indexes

RewriteCond %{HTTP_HOST}        !^www
RewriteCond %{HTTP_HOST}        ^([^\.]+)\.([^\.]+)\.([^\.]+)$
RewriteCond %{DOCUMENT_ROOT}/%1/$1 -f
RewriteRule ^(.*)$ %1/$1 [L]

RewriteCond %{DOCUMENT_ROOT}/common/$1 -f
RewriteRule ^(.*)$ common/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [NC,L,QSA]
