.datatable{
    width: 100%;
    border-spacing: 0;
    margin: 10px 0;
    float: left;
}

.datatable .column{
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.datatable .row{
    transition: background-color .3s linear, box-shadow .3s linear;
    cursor: pointer;
}
.datatable .row:hover{
    background-color: rgba(0,0,0,.05);
}
.datatable .row td{
    border-bottom: 1px solid #ddd;
    height: 50px;
}
.slidebox{
    width: 160px;
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #ddd;
    cursor: pointer;
}

.slidebox .wrapper{
    position: relative;
}
.slidebox > .wrapper > *{
    width: 50%;
    text-align: center;
}
.slidebox > .wrapper > .indicator,
.slidebox > .wrapper > .true,
.slidebox > .wrapper > .false{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    float: left;
    color: white;
}
.slidebox > .wrapper > .true{
    background-color: #71BA51;
}
.slidebox > .wrapper > .false{
    background-color: #C0392B;
}
.slidebox > .wrapper > .indicator{
    background-color: white;
    position: absolute;
    transition: left .3s linear;
}
.slidebox > input[type="hidden"][value="false"] + .wrapper > .indicator{ left: 0%; }
.slidebox > input[type="hidden"][value="true"] + .wrapper > .indicator{ left: 50%; }

.pager.pager-default{
    list-style: none;
    padding: 0;
    margin: 0;
}

.pager.pager-default li {
    display: inline-block;
    height: 40px;
    min-width: 40px;
    text-align: center;
    line-height: 40px;
    color: #555;
}

.pager.pager-default li.active{
    background-color: #3D8EB9;
    color: white;
}
.toolstrip.list{
    position: relative;
    height: 40px;
    min-width: 40px;
    line-height: 40px;
    margin-right: 10px;
    float: left;
    color: rgba(255,255,255,.7);
}
.toolstrip.list ul{
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0; margin: 0; list-style: none;

    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    background-color: white;
    z-index: 10000;
    width: 180px;
    color: #333;
    padding: 10px 0;

}
.toolstrip.list ul li{
    line-height: 24px;
    float: left;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}
.toolstrip.list ul li:hover{
    background-color: rgba(0,0,0,.05);
}
.toolstrip.list ul li:before{
    content: "";
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 5px;
    display: inline-block;
    font-family: "Material Icons";
}
.toolstrip.list ul li.active:before{
    content: "\E5CA";
}
