.form.form-default{
    margin: 0;
    padding: 0;
}
.form .row{
    display: inline-block;
    width: 100%;
}
.row.row-default{
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.row.row-btn{
    margin: 20px 0;
    float: left;
    width: 100%;
}
.row.row-btn .btn.pull-left{
    margin-right: 10px;
}
.row.row-btn .btn.pull-right{
    margin-left: 10px;
}


.input.input-default[type="search"],
.input.input-default[type="password"],
.input.input-default[type="number"],
.input.input-default[type="text"]{
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    outline: 0;
    padding: 0 10px;
}
.input.input-default[type="search"]:focus,
.input.input-default[type="password"]:focus,
.input.input-default[type="number"]:focus,
.input.input-default[type="text"]:focus{
    border: 1px solid #aaa;
}


select.input.input-default[multiple]{
    outline: 0;
}

select.input.input-default[multiple] option{
    padding: 12px 10px;
    margin: 0;
    position: relative;
}
select.input.input-default[multiple] option{
    cursor: pointer;
}
select.input.input-default[multiple] option:after{
    font-family: "Material Icons";
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
select.input.input-default[multiple] option:hover:after,
select.input.input-default[multiple] option:checked:after{
    content: "\E5CA";
}
select.input.input-default[multiple] option:checked{
    background: #ddd linear-gradient(0deg, #ddd 0%, #ddd 100%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.5);
}

.form .row .input,
.form .row .label{
    margin-bottom: 10px;
}
.row.has-error .input{
    border-color: #C0392B;
}

.icon-label{
    position: relative;
    display: inline-block;
    width: inherit;
}
.icon-label .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
