html{
    font-family: 'Poppins', sans-serif;
}


.theme.theme-user .header,
.theme.theme-user .menu{
    color: white;
    background-color: #71BA51;
}

.theme.theme-auth .header,
.theme.theme-auth .menu{
    color: white;
    background-color: #8870FF;
}

.theme.theme-translate .header,
.theme.theme-translate .menu{
    color: white;
    background-color: #3E4651;
}


.menu.menu-default{
    background-color: #3D8EB9;
    color: white;
}
.menu.menu-default > li.dropdown > ul{
    /*background-color: #3D8EB9;*/
    background-color: white;
}
.menu.menu-default a{
    color: inherit;
}
.menu.menu-default > li.dropdown > ul{
    color: #333;
}
.menu.menu-default > li.dropdown > ul li span{
    line-height: 40px;
    height: 40px;
}
.menu.menu-default li{
    cursor: pointer;
    background-color: rgba(255,255,255,0);
    /*transition: background-color .3s linear;*/
}
.menu.menu-default li:hover{
    cursor: pointer;
    background-color: rgba(80,80,80,.05);
}
.menu.menu-default li.dropdown.open{
    background-color: rgba(80,80,80,.05);
}
