html{
    font-family: 'Poppins', sans-serif;
}

.menu.menu-default{
    background-color: #3D8EB9;
    color: white;
}
.menu.menu-default > li.dropdown > ul{
    /*background-color: #3D8EB9;*/
    background-color: white;
}
.menu.menu-default a{
    color: white;
}
.menu.menu-default li{
    cursor: pointer;
    background-color: rgba(255,255,255,0);
    transition: background-color .3s linear;
}
.menu.menu-default li:active{
    cursor: pointer;
    background-color: rgba(255,255,255,.1);
}
.menu.menu-default li.dropdown.open{
    background-color: rgba(255,255,255,.1);
}
