.form.form-default{
    margin: 0;
    padding: 0;
}
.form .row{
    display: inline-block;
    width: 100%;
}
.row.row-default{
    /*margin-bottom: 10px;*/
}
.row.row-btn .btn.pull-left{
    margin-right: 10px;
}
.row.row-btn .btn.pull-right{
    margin-left: 10px;
}



.input.input-default[type="password"],
.input.input-default[type="number"],
.input.input-default[type="text"]{
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    outline: 0;
    padding: 0 10px;
}
.input.input-default[type="password"]:focus,
.input.input-default[type="number"]:focus,
.input.input-default[type="text"]:focus{
    border: 1px solid #aaa;
}
.form .row .input,
.form .row .label{
    margin-bottom: 10px;
}
.row.has-error .input{
    /*border-right: 5px solid #C0392B;*/
    border-color: #C0392B;
}
