body, html{
    margin: 0; padding: 0;
}

.element{
    padding: 10px;
    box-sizing: border-box;
}
.inner{
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}
.element > .inner{
    border: 1px solid #ccc;
}

.row.row-element{
    margin: 0 -10px;
display: inline-block;
    width: 100%;
}

.col{
    float: left;
    display: inline-block;
    min-height: 10px;
}
.block{
    float: left;
    display: inline-block;
    min-height: 10px;
    position: relative;
}
.block-inner{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
.pb12{  padding-bottom: 100%;        }
.pb11{  padding-bottom: 91.666667%;  }
.pb10{  padding-bottom: 83.333334%;  }
.pb9{   padding-bottom: 75%;         }
.pb8{   padding-bottom: 66.666667%;  }
.pb7{   padding-bottom: 58.333334%;  }
.pb6{   padding-bottom: 50%;         }
.pb5{   padding-bottom: 41.666667%;  }
.pb4{   padding-bottom: 33.333334%;  }
.pb3{   padding-bottom: 25%;         }
.pb2{   padding-bottom: 16.666667%;  }
.pb1{   padding-bottom: 8.333334%;   }

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

.wide{
    width: 100%;
}
.hidden{
    display: none !important;
}

.menu.menu-default{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 10000;
}

.label{
}
.label-default{
    min-height: 40px;
    line-height: 40px;
    display: inline-block;
    box-sizing: border-box;
}
.label.action,
.label.success,
.label.error,
.label.info,
.label.warning{
    padding: 0 10px;
}


.icon{
    min-width: 40px;
    line-height: 40px;
    text-align: center;
}

.menu.menu-default > li.item{
    position: relative;
}
.menu.menu-default > li .icon,
.menu.menu-default > li span{
    /*padding: 0 10px;*/
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    width: 100%;
    color: inherit;
    box-sizing: border-box;
    display: inline-block;

}

.dropdown {
    position: relative;
}

.dropdown ul{
    background-color: white;
}

.dropdown ul li{
    padding: 0 10px;
}

.dropdown > ul,
.menu.menu-default > li.dropdown > ul{
    position: absolute;
    top: 5px;
    width: 150px;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    display: none;
    z-index: 10000;

    color: #333;

    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.dropdown.pull-left > ul,
.menu.menu-default > li.dropdown.pull-left > ul{
    left: 5px;
}
.dropdown.pull-right > ul,
.menu.menu-default > li.dropdown.pull-right > ul{
    right: 5px;
}

.menu.menu-default > li.dropdown.toggled > ul{
    top: 5px;
}
.dropdown.pull-left > ul li,
.menu.menu-default > li.dropdown > ul li{
    box-sizing: border-box;
    height: 40px;
    float: left;
    min-width: 40px;
    line-height: 40px;
    position: relative;
    width: 100%;
}
.dropdown > ul li .icon,
.menu.menu-default > li.dropdown > ul li .icon{
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    padding-right: 10px;
}

.container{
    margin: 0 auto;
}
[behaviour="active"]{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(80,80,80,.0);
    -moz-box-shadow: 0px 2px 5px 0px rgba(80,80,80,.0);
    box-shadow: 0px 2px 5px 0px rgba(80,80,80,.0);
    position: relative;
    transition: box-shadow 150ms linear;
}
[behaviour="active"]:after{
    content: "";
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: rgba(255,255,255,.0);
    transition: background-color 150ms linear;
}
[behaviour="active"]:active{
    -webkit-box-shadow: 0px 1px 10px -2px rgba(80,80,80,.8);
    -moz-box-shadow: 0px 1px 10px -2px rgba(80,80,80,.8);
    box-shadow: 0px 1px 10px -2px rgba(80,80,80,.8);
}
[behaviour="active"]:active:after{
    background-color: rgba(255,255,255,.05);
}

.header{

}
.header.header-default{
    background-color: #5099bf;
    padding: 20px 0 ;
    float: left;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    /*min-height: 140px;*/
}

.header-default .title{
    margin: 0;
    padding: 0;
    line-height: 40px;
    height: 40px;
}

.header-default .title .icon{
    line-height: 40px;
    height: 40px;
}

.header-default input.input.input-default::-webkit-input-placeholder    {       color: rgba(255,255,255,.7);    }
.header-default input.input.input-default:-ms-input-placeholder         {       color: rgba(255,255,255,.7);    }
.header-default input.input.input-default::-moz-placeholder             {       color: rgba(255,255,255,.7);    }
.header-default input.input.input-default:-moz-placeholder              {       color: rgba(255,255,255,.7);    }

.header-default input.input.input-default{
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,.3);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,.3);
    border: 0;
    margin: 0;
    background-color: rgba(255,255,255,.2);
    color: white;
    padding-left: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
    transition: all 150ms linear;
}
.header-default input.input.input-default:focus,
.header-default input.input.input-default:active{
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,.3);
    background-color: rgba(255,255,255,1);
    color: #333;
}

.header-default input.input.input-default + .icon,
.header-default input.input.input-default + .icon{
    color: rgba(255,255,255,.7);
}

.header-default input.input.input-default:focus + .icon,
.header-default input.input.input-default:active + .icon{
    color: #333;
}

.header-default input.input.input-default + .icon{
    height: 50px;
    /*min-height: 40px;*/
    width: 50px;
    /*min-width: 40px;*/
    line-height: 50px;
}

/*extra-small mobile devices*/
@media screen and (min-width: 0){
    .xs12{  width: 100%;        }
    .xs11{  width: 91.666667%;  }
    .xs10{  width: 83.333334%;  }
    .xs9{   width: 75%;         }
    .xs8{    width: 66.666667%; }
    .xs7{   width: 58.333334%;  }
    .xs6{    width: 50%;        }
    .xs5{    width: 41.666667%; }
    .xs4{   width: 33.333334%;  }
    .xs3{    width: 25%;        }
    .xs2{    width: 16.666667%; }
    .xs1{    width: 8.333334%;  }
    .container{ width: 100%; }
}
/*mobile / small tablet*/
@media screen and (min-width: 640px){
    .mb12{  width: 100%;        }
    .mb11{  width: 91.666667%;  }
    .mb10{  width: 83.333334%;  }
    .mb9{   width: 75%;         }
    .mb8{   width: 66.666667%;  }
    .mb7{   width: 58.333334%;  }
    .mb6{   width: 50%;         }
    .mb5{   width: 41.666667%;  }
    .mb4{   width: 33.333334%;  }
    .mb3{   width: 25%;         }
    .mb2{   width: 16.666667%;  }
    .mb1{   width: 8.333334%;   }
    .container{ width: 640px; }
}
/*laptop / tablet*/
@media screen and (min-width: 960px){
    .tb12{  width: 100%;        }
    .tb11{  width: 91.666667%;  }
    .tb10{  width: 83.333334%;  }
    .tb9{   width: 75%;         }
    .tb8{   width: 66.666667%;  }
    .tb7{   width: 58.333334%;  }
    .tb6{   width: 50%;         }
    .tb5{   width: 41.666667%;  }
    .tb4{   width: 33.333334%;  }
    .tb3{   width: 25%;         }
    .tb2{   width: 16.666667%;  }
    .tb1{   width: 8.333334%;   }
    .container{ width: 960px; }
}
/*desktop*/
@media screen and (min-width: 1280px){
    .dt12{  width: 100%;        }
    .dt11{  width: 91.666667%;  }
    .dt10{  width: 83.333334%;  }
    .dt9{   width: 75%;         }
    .dt8{   width: 66.666667%;  }
    .dt7{   width: 58.333334%;  }
    .dt6{   width: 50%;         }
    .dt5{   width: 41.666667%;  }
    .dt4{   width: 33.333334%;  }
    .dt3{   width: 25%;         }
    .dt2{   width: 16.666667%;  }
    .dt1{   width: 8.333334%;   }
    .container{ width: 1280px; }
}
blockquote{
    position: relative;
    padding: 20px 0 20px 40px;
    background-color: #ddd;
}
blockquote:before{
    color: #aaa;
}
blockquote:before{
    content: "\201C";
    position: absolute;
    font-size: 80px;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 80px;
}
