.btn{
    border: 0;
    outline: 0;
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s linear, box-shadow .3s linear;
    cursor: pointer;
    position: relative;
}
.btn.btn-default{
    height: 40px;
    min-width: 40px;
    line-height: 40px;
    padding: 0 30px;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(80,80,80,.3);
    -moz-box-shadow: 0px 2px 5px -1px rgba(80,80,80,.3);
    box-shadow: 0px 2px 5px -1px rgba(80,80,80,.3);
}
.btn.btn-flat{
    height: 40px;
    min-width: 40px;
    line-height: 40px;
    padding: 0 30px;
    -webkit-box-shadow: 0px 3px 7px -2px rgba(0,0,0,0);
    -moz-box-shadow: 0px 3px 7px -2px rgba(0,0,0,0);
    box-shadow: 0px 3px 7px -2px rgba(0,0,0,0);
}
.btn.btn-icon{
    padding-left: 0;
    padding-right: 15px;
}
.btn.btn-icon .icon{
    float: left;
    line-height: inherit;
    min-width: inherit;
    text-align: center;
}

.btn-flat:after,
.btn-default:after{
    content: "";
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: rgba(255,255,255,.0);
    transition: background-color .3s linear;
}
.btn-default:active{
    -webkit-box-shadow: 0px 1px 10px -2px rgba(80,80,80,.8);
    -moz-box-shadow: 0px 1px 10px -2px rgba(80,80,80,.8);
    box-shadow: 0px 1px 10px -2px rgba(80,80,80,.8);
}
.btn-flat:active{
    -webkit-box-shadow: 0px 1px 10px -2px rgba(80,80,80,.8);
    -moz-box-shadow: 0px 1px 10px -2px rgba(80,80,80,.8);
    box-shadow: 0px 1px 10px -2px rgba(80,80,80,.8);
}
.btn-default:active:after{
    background-color: rgba(255,255,255,.1);
}
.btn-flat:active:after{
    background-color: rgba(0,0,0,.05);
}
