body, html{
    /*background-color: #ddd;*/
    margin: 0; padding: 0;
}

.element{
    padding: 10px;
    box-sizing: border-box;
}
.inner{
    background-color: white;
    padding: 10px;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
}

.col{
    float: left;
    display: inline-block;
    min-height: 10px;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

.wide{
    width: 100%;
}
.hidden{
    display: none !important;
}

.default{
    color: white;
    background-color: #555;
}

.default-flat{
    color: #555;
    background-color: inherit;
}
.default-outline{
    border: 1px solid #555;
    color: #555;
    background-color: transparent;
}

.action{
    color: white;
    background-color: #3D8EB9;
}
.action-flat{
    color: #3D8EB9;
    background-color: inherit;
}
.action-outline{
    border: 1px solid #3D8EB9;
    color: #3D8EB9;
    background-color: transparent;
}

.success{
    color: white;
    background-color: #71BA51;
}
.success-flat{
    color: #71BA51;
    background-color: inherit;
}
.success-outline{
    border: 1px solid #71BA51;
    color: #71BA51;
    background-color: transparent;
}

.info{
    color: white;
    background-color: #64DDBB;
}
.info-flat{
    color: #64DDBB;
    background-color: inherit;
}
.info-outline{
    border: 1px solid #64DDBB;
    color: #64DDBB;
    background-color: transparent;
}


.error{
    color: white;
    background-color: #C0392B;
}
.error-flat{
    color: #C0392B;
    background-color: inherit;
}
.error-outline{
    border: 1px solid #C0392B;
    color: #C0392B;
    background-color: transparent;
}

.menu.menu-default{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 10000;
}

.label{
}
.label-default{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    box-sizing: border-box;
}
.label.action,
.label.success,
.label.error,
.label.info,
.label.warning{
    padding: 0 10px;
}


.icon{
    min-width: 50px;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
}

.menu.menu-default > li.item{
    position: relative;
}
.menu.menu-default > li span{
    padding: 0 10px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;

}
.menu.menu-default > li.dropdown > ul{
    position: absolute;
    top: 100%;
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
}

.menu.menu-default > li.dropdown.pull-left > ul{
    left: 0;
}
.menu.menu-default > li.dropdown.pull-right > ul{
    right: 0;
}

.menu.menu-default > li.dropdown.toggled > ul{
    top: 100%;
}

.menu.menu-default > li.dropdown > ul li{
    box-sizing: border-box;
    height: 50px;
    float: left;
    min-width: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
}

.container{
    margin: 0 auto;
}
[behaviour="active"]{
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.0);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.0);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.0);
    position: relative;
    transition: box-shadow .3s linear;
}
[behaviour="active"]:after{
    content: "";
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: rgba(255,255,255,.0);
    transition: background-color .3s linear;
}
[behaviour="active"]:active{
    -moz-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.3);
}
[behaviour="active"]:active:after{
    background-color: rgba(255,255,255,.05);
}

/*extra-small mobile devices*/
@media screen and (min-width: 0){
    .xs12{  width: 100%;        }
    .xs11{  width: 91.666667%;  }
    .xs10{  width: 83.333334%;  }
    .xs9{   width: 75%;         }
    .xs8{    width: 66.666667%; }
    .xs7{   width: 58.333334%;  }
    .xs6{    width: 50%;        }
    .xs5{    width: 41.666667%; }
    .xs4{   width: 33.333334%;  }
    .xs3{    width: 25%;        }
    .xs2{    width: 16.666667%; }
    .xs1{    width: 8.333334%;  }
    .container{ width: 100%; }
}
/*mobile / small tablet*/
@media screen and (min-width: 640px){
    .mb12{  width: 100%;        }
    .mb11{  width: 91.666667%;  }
    .mb10{  width: 83.333334%;  }
    .mb9{   width: 75%;         }
    .mb8{   width: 66.666667%;  }
    .mb7{   width: 58.333334%;  }
    .mb6{   width: 50%;         }
    .mb5{   width: 41.666667%;  }
    .mb4{   width: 33.333334%;  }
    .mb3{   width: 25%;         }
    .mb2{   width: 16.666667%;  }
    .mb1{   width: 8.333334%;   }
    .container{ width: 640px; }
}
/*laptop / tablet*/
@media screen and (min-width: 960px){
    .tb12{  width: 100%;        }
    .tb11{  width: 91.666667%;  }
    .tb10{  width: 83.333334%;  }
    .tb9{   width: 75%;         }
    .tb8{   width: 66.666667%;  }
    .tb7{   width: 58.333334%;  }
    .tb6{   width: 50%;         }
    .tb5{   width: 41.666667%;  }
    .tb4{   width: 33.333334%;  }
    .tb3{   width: 25%;         }
    .tb2{   width: 16.666667%;  }
    .tb1{   width: 8.333334%;   }
    .container{ width: 960px; }
}
/*desktop*/
@media screen and (min-width: 1280px){
    .dt12{  width: 100%;        }
    .dt11{  width: 91.666667%;  }
    .dt10{  width: 83.333334%;  }
    .dt9{   width: 75%;         }
    .dt8{   width: 66.666667%;  }
    .dt7{   width: 58.333334%;  }
    .dt6{   width: 50%;         }
    .dt5{   width: 41.666667%;  }
    .dt4{   width: 33.333334%;  }
    .dt3{   width: 25%;         }
    .dt2{   width: 16.666667%;  }
    .dt1{   width: 8.333334%;   }
    .container{ width: 1280px; }
}
