.dialog,
.dialog *{
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

.dialog{
    position: fixed;
    /*left: 0; right: 0;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: white;

    z-index: 10000;

    display: none;

    -webkit-box-shadow: 2px 2px 14px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 14px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 14px 2px rgba(0,0,0,0.3);
}
.dialog > .content{
    padding: 10px 10px 0 10px;
}
.dialog .row.btn-row{
    text-align: right;
    padding: 0 10px 10px 10px;
}


.dialog[backdrop] ~ .dialog-backdrop{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 9999;
    display: none;
}

.dialog[open]{
    display: inherit;
    opacity: 0;
    animation-name: DialogZoomIn;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.dialog[close]{
    display: inherit;
    opacity: 1;
    animation-name: DialogZoomOut;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.dialog[dialog-speed="slow"]    {   animation-duration: 800ms;  }
.dialog[dialog-speed="normal"]  {   animation-duration: 300ms;  }
.dialog[dialog-speed="fast"]    {   animation-duration: 150ms;  }

@keyframes DialogZoomIn{
    0%{
        opacity: 0;
        top: 75%;
        visibility: hidden;
    } 1% {
        opacity: 0;
        top: 75%;
    } 100% {
        opacity: 1;
        top: 50%;
    }
}
@keyframes DialogZoomOut{
    0%{
        opacity: 1;
        top: 50%;
    } 99% {
        opacity: 0;
        top: 75%;
    } 100% {
        opacity: 0;
        top: 75%;
        visibility: hidden;
    }
}

.dialog[backdrop][open] ~ .dialog-backdrop{
    display: inherit;
    opacity: 0;
    animation: DialogBackdropFadeIn 300ms forwards;
    animation-timing-function: ease-in-out;
}
.dialog[backdrop][close] ~ .dialog-backdrop{
    display: inherit;
    opacity: 0;
    animation: DialogBackdropFadeOut 300ms forwards;
    animation-timing-function: ease-in-out;
}

@keyframes DialogBackdropFadeIn{
    0%{
        opacity: 0;
        visibility: hidden;
    } 1% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}
@keyframes DialogBackdropFadeOut{
    0%{
        opacity: 1;
    } 99% {
        opacity: 0;
    } 100% {
        opacity: 0;
        visibility: hidden;
    }
}

.btn.btn-dialog{
    color: #008473;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;

    transition: all 150ms ease-in-out;
    height: 40px;
    min-width: 40px;
    line-height: 40px;
}

.btn.btn-dialog:active{
    background-color: #ddd;
}
