html{
    font-family: 'Poppins', sans-serif;
}

.default{
    color: white;
    background-color: #555;
}

.default-flat{
    color: #555;
    background-color: inherit;
}
.default-outline{
    border: 1px solid #555;
    color: #555;
    background-color: transparent;
}

.action{
    color: white;
    background-color: #3D8EB9;
}
.action-flat{
    color: #3D8EB9;
    background-color: inherit;
}
.action-outline{
    border: 1px solid #3D8EB9;
    color: #3D8EB9;
    background-color: transparent;
}

.success{
    color: white;
    background-color: #71BA51;
}
.success-flat{
    color: #71BA51;
    background-color: inherit;
}
.success-outline{
    border: 1px solid #71BA51;
    color: #71BA51;
    background-color: transparent;
}

.info{
    color: white;
    background-color: #64DDBB;
}
.info-flat{
    color: #64DDBB;
    background-color: inherit;
}
.info-outline{
    border: 1px solid #64DDBB;
    color: #64DDBB;
    background-color: transparent;
}


.error{
    color: white;
    background-color: #C0392B;
}
.error-flat{
    color: #C0392B;
    background-color: inherit;
}
.error-outline{
    border: 1px solid #C0392B;
    color: #C0392B;
    background-color: transparent;
}

.epic{
    color: white;
    background-color: #441340;
}
.epic-flat{
    color: #441340;
    background-color: inherit;
}
.epic-outline{
    border: 1px solid #441340;
    color: #441340;
    background-color: transparent;
}


.theme.theme-user .header,
.theme.theme-user .menu{
    color: white;
    background-color: #71BA51;
}

.theme.theme-auth .header,
.theme.theme-auth .menu{
    color: white;
    background-color: #8870FF;
}

.theme.theme-translate .header,
.theme.theme-translate .menu{
    color: white;
    background-color: #3E4651;
}

.theme.theme-news .header,
.theme.theme-news .menu{
    color: white;
    background-color: #22C4DF;
}


.menu.menu-default{
    background-color: #3D8EB9;
    color: white;
}
.menu.menu-default > li.dropdown > ul{
    /*background-color: #3D8EB9;*/
    background-color: white;
}
.menu.menu-default a{
    color: inherit;
}
.menu.menu-default > li.dropdown > ul{
    color: #333;
}
.menu.menu-default > li.dropdown > ul li span{
    line-height: 40px;
    height: 40px;
}
.menu.menu-default li{
    cursor: pointer;
    background-color: rgba(255,255,255,0);
}
.dropdown li:hover{
    cursor: pointer;
    background-color: rgba(80,80,80,.05);
}
.menu.menu-default li.dropdown.open{
    background-color: rgba(80,80,80,.05);
}
