.status-label{
    display: block;
    padding: 10px;
}
.status-label[data-status]:before{
    content: attr(data-status);
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.form{
    margin: 0;
}

.form .input{
    outline: 0;
    transition: background-color .6s linear, border-color .6s linear, color .6s linear;
}
.form .input:not(.bordered){
    border: 0;
}

.form .input.large{
    height: 75px;
    padding: 0 15px;
}
.form .input{
    height: 50px;
    padding: 0 10px;
}
.form .input.small{
    height: 25px;
    padding: 0 5px;
}

.form.vertical{

}



.form [data-error]:not(.bordered),
.form [data-error]{
    color: red;
    border-left: 5px solid red;
}

.form .input.flat,
.form .input.default-to-flat{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.form component{
    display: block;
}

.form component label{
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    display: block;
}

.form component .input{
    width: 100%;
}

.form component .input.flat:not(:focus):not(:active),
.form component .input.default-to-flat:not(:focus):not(:active){
    border-bottom-color: #aaa;
}

.form row{
    display: block;
    margin-bottom: 10px;
}



.form [contenteditable="true"],
.form [contenteditable="true"]{
    text-decoration: underline;
    outline: 0;
    cursor: pointer;
}

.form [contenteditable="true"]:empty:not(:focus):not(:active){
    color: #aaa;
}
.form [contenteditable="true"]:empty:before{
    content: attr(placeholder);
    color: #aaa;
}
