.notification{
    position: fixed;
    pointer-events: none;
}

.notification.top{
    top: 50px;
}
.notification.right{
    right: 50px;
}
.notification.bottom{
    bottom: 50px;
}
.notification.left{
    left: 50px;
}

.notification .message{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative;
    transition: .6s;
    pointer-events: all;
    opacity: 1;
}
.notification .message[data-dismissable]{
    padding-right: 50px;
}
.notification .message .content{
    display: inline-block;
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 10px;
    overflow: auto;
}
.notification .message .dismiss{
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 50px;
}
.notification .message .dismiss i{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 25px;
    text-align: center;
}

.notification .message.dismiss{
    opacity: 0 ;
    margin-bottom: 0 ;
    margin-top: 0 ;
    height: 0 ;
}

.notification{
    width: 30%;
}
