.nav-menu{

}

.nav-menu.fixed{
    position: fixed;
}
.nav-menu.top{ top: 0; }
.nav-menu.right{ right: 0; }
.nav-menu.bottom{ bottom: 0; }
.nav-menu.left{ left: 0; }

.nav-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;

    background-color: #f2f2f2;
    color: #111;
}

.nav-menu ul li{
    position: relative;
    min-height: 50px;
    min-width: 50px;
    line-height: 50px;
    display: inline-block;
    white-space: nowrap;

    padding: 0 10px;
}

.nav-menu ul li[sc-icon-after]{
    padding-right: 50px;
}

.nav-menu ul li[sc-icon-after]:after{
    position: absolute;
    top: 0;
    right: 0;
}

.nav-menu ul li[sc-icon-before]{
    padding-left: 50px;
}
.nav-menu ul li[sc-icon-before]:before{
    position: absolute;
    top: 0;
    left: 0;
}

.nav-menu ul li[is-dropdown] ul{
    margin: 0 -50px 0 -10px;
    padding: 0;
}
.nav-menu > ul > li[is-dropdown] > ul{
    margin-left: 0;
}

.nav-menu ul li[is-dropdown]:after{
    content: "\E5C5";
}
.nav-menu ul li[is-dropdown][show]:after{
    content: "\E5C7";
}

.nav-menu.bottom ul li[is-dropdown]:after{
    content: "\E5C7";
}
.nav-menu.bottom ul li[is-dropdown][show]:after{
    content: "\E5C5";
}
.nav-menu > ul > li > ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    margin: 0;
}

.nav-menu.bottom > ul > li > ul{
    bottom: 100%;
    top: auto;
}

.nav-menu ul li ul li{
    display: block;
}

.nav-menu li[is-dropdown] ul{
    display: none;
}

.nav-menu li[show] > ul{
    display: block;
}

.nav-sidebar{
    position: fixed;
}

.nav-sidebar.right{
    top: 0;
    right: 0;
    bottom: 0;
}
.nav-sidebar.left{
    top: 0;
    left: 0;
    bottom: 0;
}


.nav-sidebar ul [sc-icon-before]:before{
    content: attr(sc-icon-before);
}
.nav-sidebar ul [sc-icon-after]:after{
    content: attr(sc-icon-after);
}

.nav-sidebar.left{
    transform: translateX( -100% );
}

.nav-sidebar.right{
    transform: translateX( 100% );
}

.nav-sidebar.left[show],
.nav-sidebar.right[show]{
    transform: translateX( 0% );
}

.nav-sidebar + backdrop{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.nav-sidebar{
    z-index: 1050;
}
.nav-sidebar + backdrop{
    z-index: 1000;
}

.nav-sidebar[show] + backdrop{
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

.nav-sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-sidebar ul li{
    display: block;
    min-height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

.nav-sidebar ul li[sc-icon-before]{
    padding-left: 0;
}
.nav-sidebar ul li[sc-icon-after]{
    padding-right: 0;
}

.nav-sidebar ul li[is-dropdown]{
    position: relative;
}

/* .nav-sidebar.left ul li[is-dropdown]{
    padding-right: 0;
}
.nav-sidebar.right ul li[is-dropdown]{
    padding-left: 0;
} */

/* .nav-sidebar.left ul li[is-dropdown]:after,
.nav-sidebar.right ul li[is-dropdown]:before{
    content: "\E5C5";
    position: absolute;
    top: 0;

    font-family: "Material Icons";
    font-size: 24px;

    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
} */

/* .nav-sidebar.left ul li[is-dropdown][show]:after,
.nav-sidebar.right ul li[is-dropdown][show]:after{
    content: "\E5C7";
} */

/* .nav-sidebar.left ul li[is-dropdown]:after{
    right: 0;
}
.nav-sidebar.right ul li[is-dropdown]:after{
    left: 0;
} */

.nav-sidebar a{
    text-decoration: underline;
    color: inherit;
}

.nav-sidebar li ul{
    margin: 0 -10px;
}

.nav-sidebar li[sc-icon-before] ul{
    margin-left: 0;
}

.nav-sidebar li[sc-icon-after] ul{
    margin-right: 0;
}

.nav-sidebar ul li ul{
    display: none;

}

.nav-sidebar ul li[show] ul{
    display: block;
}

@media (min-width: 0px){

}

.nav-sidebar{
    width: 100%;
}

@media (min-width: 1080px){
    .nav-sidebar{
        width: 400px;
    }
}

.nav-sidebar{
    background-color: #f2f2f2;
    color: #111;
}

.nav-sidebar + backdrop{
    background-color: rgba(0,0,0,.5);
}

.nav-sidebar ul li ul{
    background-color: rgba(0,0,0,.05);
}
.nav-sidebar ul li{
    transition: .6s;
    cursor: pointer;
}
.nav-sidebar ul li:not([show]):hover{
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
}
