.nav.sidebar{
    color: #f2f2f2;
    max-height: 100%;
    overflow-y: auto;
}

.nav.sidebar::-webkit-scrollbar{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 5px;
}
.nav.sidebar::-webkit-scrollbar-track{
    background-color: #555;
    width: 5px;
}
.nav.sidebar::-webkit-scrollbar-thumb{
    background-color: #111;
}


.sidebar[hide]{
    transform: translateX(-300px);
}
.sidebar[hide] + .content{
    transform: translateX(0);
}
.sidebar[show]{
    transform: translateX(0px);
}
.sidebar[show] + .content{
    transform: translateX(300px);
    min-height: 100%;
    overflow: auto;
}

.sidebar[show] + .content:before{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
}

.sidebar,
.sidebar + .content{
    transition: .3s;
}

.sidebar + .content{
    min-height: 100%;
    overflow: auto;
}


.sidebar{
    width: 300px;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar li{
    display: block;
    position: relative;
    cursor: pointer;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.sidebar li li *{
    padding-left: 10px;
}

.sidebar li > *:not(ul){
    display: block;
    padding: 0 10px;
    position: relative;
    height: 50px;
    line-height: 50px;
}
.sidebar li[show] > span,
.sidebar li:hover > span,
.sidebar li:hover > a{
    background-color: rgba(255,255,255,.1);
    color: #ffcc00;
}


.sidebar a{
    text-decoration: none;
    color: inherit;
}

.sidebar li i.icon{
    margin-left: -10px;
}

.sidebar li.dropdown:after{
    content: "\E313";
    position: absolute;
    top: 0; right: 0;
    height: 50px; width: 50px; line-height: 50px; text-align: center;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.sidebar li.dropdown[show]:after{
    content: "\E316";
}

.sidebar li ul{
    padding: 0; margin: 0;
    display: none;
    list-style: none;
}
.sidebar li[show] > ul{
    display: block;
}

.sidebar{
    background-color: #111;
}
