.status-label{
    padding: 10px;
    display: block;
}
.status-label[status]:before{
    content: attr(status);
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.form{

}

.form .input{
    width: 100%;
    transition: .6s;
}

.form .input:focus{
    outline: 0;
}

.form .input:not(.bordered){
    border: 0;
}

.form .input.large{
    height: 75px;
    padding: 0 15px;
    margin: 0;
}

.form .input{
    height: 50px;
    padding: 0 10px;
    margin: 0;
}
.form .input.small{
    height: 25px;
    padding: 0 5px;
    margin: 12.5px 0;
}

.form[submitted] .input:invalid{
    border: 1px solid red;
    color: red;
}

.input{

}
