.sc-checkbox{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 25px;
    height: 25px;
    outline: 0;
    position: relative;
    box-sizing: border-box;
}

.sc-checkbox:before{

}
.sc-checkbox:checked:before{

}

.sc-checkbox:after{
    content: "\E5CA";
    font-family: "Material Icons";

    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 25px;
    font-size: 18px;
    text-align: center;


    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 100%;

    opacity: 0;

    transition: .3s;
    transform: scale(.75);
}

.sc-checkbox:checked:after{
    opacity: 1;
    transform: scale(1);
}

.sc-checkbox:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    opacity: 0;
    z-index: 100;
}
.sc-checkbox[checked="true"]:before{
    animation: checkboxCheckedBefore .3s forwards;
}
.sc-checkbox[checked="false"]:before{
    animation: checkboxUncheckedBefore .3s forwards;
}
@keyframes checkboxCheckedBefore {
    0% {
        transform: scale( 1);
        opacity: 0;
    } 75% {
        transform: scale( 2.5 );
        opacity: .1;
    } 100% {
        opacity: 0;
    }
}
@keyframes checkboxUncheckedBefore {
    0% {
        transform: scale( 1 );
        opacity: 0;
    } 25% {
        transform: scale( 2.5 );
        opacity: .1;
    } 100% {
        opacity: 0;
    }
}

.sc-checkbox.action:before{
    background-color: #3D8EB9;
}
.sc-checkbox.epic:before{
    background-color: #7E3661;
}
.sc-checkbox.success:before{
    background-color: #82C33C;
}
.sc-checkbox.warning:before{
    background-color: #D03400;
}
.sc-checkbox.info:before{
    background-color: #51BDCB;
}
