.popover{
    text-decoration: underline;
    position: relative;
}
.popover .pop{
    position: absolute;
    border: 1px solid #ddd;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.popover:hover .pop{
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}


.popover .pop .title{
    margin: 0; padding: 5px 10px;
    background-color: #f2f2f2;
    color: #111;
    white-space: pre;
}
.popover .pop .content{
    margin: 0; padding: 5px 10px;
    background-color: white;
    color: #111;
    white-space: pre;
}

.popover.top .pop{
    bottom: 100%;
}
.popover.bottom .pop{
    top: 100%;
}
.popover.left .pop{
    left: 0;
}
.popover.right .pop{
    right: 0;
}
