.theme.theme-user .header,
.theme.theme-user .menu{
    color: white;
    background-color: #71BA51;
}

.theme.theme-auth .header,
.theme.theme-auth .menu{
    color: white;
    background-color: #8870FF;
}
