.tabs{
    min-height: 50px;
    float: left;
    width: 100%;
}

.tabcontrols,
.tabcontent{
    float: left;
    width: 100%;
}

.tabcontrols{
    list-style: none;
    padding: 0;
    margin: 0;
}
.tabcontrols > li{
    display: inline-block;
    padding: 20px 20px 15px 20px;

    float: left;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.tabcontrols > li:hover{
    background-color: rgba(255,255,255,.05);
}

.tabcontent{
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabcontent > li{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    visibility: hidden;
    pointer-events: none;
    display: none;
}
.tabcontent > li.active{
    visibility: visible;
    pointer-events: all;
    display: inline-block;
}

.tabcontrols li{
    color: #333;
    border-bottom: 5px solid transparent;
}
.tabcontrols li.active{
    color: #111;
    border-bottom: 5px solid #51BDCB;
}
.tabcontrols li:hover:not(.active):not([disabled]){
    border-bottom-color: #51bdcb80;
}

.tabcontrols{
    box-sizing: border-box;
}
.tabcontent > li.active{
    box-sizing: border-box;
}

.tabcontrols,
.tabcontent{
    background-color: #f2f2f2;
}

.tabcontrols li:not([disabled]){
    cursor: pointer;
}
.tabcontrols li[disabled]{
    color: #aaa;
}
