/* style.css */

.wrapper .footer{
    background-color: #ddd;
    color: #111;
    overflow: auto;
    padding: 10px;
    text-align: center;
}
.wrapper .nav{

}

.brand span{
    height: 19px;
    width: 19px;
    line-height: 19px;
    text-align: center;
    display: inline-block;
}

.brand.large span{
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 40px;
}

.brand span:nth-child(1),
.brand span:nth-child(2){
    background-color: #111;
    color: #f2f2f2;
}

.brand span:nth-child(3),
.brand span:nth-child(4){
    background-color: #f2f2f2;
    color: #111;
}

.code-wrapper{
    background-color: #333;
    margin: 0;
    padding: 10px;
    color: #f2f2f2;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    overflow: hidden;

    webkit-box-shadow: inset 0px 0px 100px -5px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 100px -5px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 100px -5px rgba(0,0,0,1);
}

.code-wrapper > .col{
    padding: 10px;
}

.code-wrapper code{
    white-space: pre-wrap;
}

#w0-tabs-about-ioxo h4{
    margin: 5px 0;
}

.pre-code{
    white-space: pre-line;
}
